{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div id="content" class="d-flex flex-column shadow border px-5 pb-5 {{ error ? 'pt-2' : 'pt-5' }} mt-5"
             style="max-width: 400px;min-width: 360px;">
            {% if error %}
                <div class="alert alert-danger alert-dismissible show mt-4"
                     role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <h2 class="h3 mb-3 text-center">{{ 'log.in'|trans }}</h2>
            {{ form_start(form) }}
            <div class="row justify-content-center">
                <div class="col-11">
                    {{ form_row(form.email) }}
                </div>
                <div class="col-11">
                    {{ form_row(form.password) }}
                </div>
                <div class="col-11 text-right">
                    <a href="{{ path('app_register') }}">{{ 'account.not_yet'|trans }}</a>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-around mt-4">
                <button type="submit" class="btn px-4 shadow btn-primary">{{ 'log.in'|trans }}</button>
                <a href="{{ path('index') }}">
                    <button type="button" class="btn px-4 shadow btn-danger">{{ 'cancel'|trans }}</button>
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $('.close').click(function () {
            $('#content').addClass('pt-5');
        })
    </script>
{% endblock %}
