{% extends 'base.html.twig' %}

{% block title %}Portfolio | {{ 'register'|trans }} !{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column shadow border p-5 my-5" style="max-width: 600px; min-width: 360px;">
            <h3 class="h3 mb-3 text-center">{{ 'portoflio.create'|trans }}</h3>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-6">
                    {{ form_row(form.firstName) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.lastName) }}
                </div>
                <div class="col-md-12">
                    {{ form_row(form.email) }}
                </div>
                <div class="col-md-12">
                    <div class="row">
                        {% for passwordField in form.password %}
                            <div class="col-6">{{ form_row(passwordField) }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-6">
                    {{ form_row(form.phoneNumber) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.birth) }}
                </div>
                <div class="col-md-12">
                    {{ form_row(form.picture) }}
                </div>
                <div class="col-12 text-right">
                    <a href="{{ path('app_login') }}">{{ 'account.already'|trans }}</a>
                </div>
                <div class="col-12 d-flex justify-content-around mt-4">
                    <button  type="submit" class="btn px-4 shadow btn-primary">{{ 'register'|trans }}</button>
                    <a href="{{ path('index') }}">
                        <button  type="button" class="btn px-4 shadow btn-danger">{{ 'cancel'|trans }}</button>
                    </a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.5.10/cleave.min.js"
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/cleave/phone-type-formater.fr.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.date').datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                orientation: 'bottom',
            }).on('show', function () {
                $('.datepicker').css({
                    'top': $(this).offset().top + 45
                });
            });

            new Cleave('#register_phoneNumber', {
                phone: true,
                phoneRegionCode: 'FR'
            });

            $("input[type=file]").change(function (e) {
                $(this).next('.custom-file-label').text(e.target.files[0].name);
            });

        });
    </script>
{% endblock %}