<footer class="portfolio-footer text-center gradient mt-5 py-4">
    <div class="d-flex justify-content-center">
        {{ include('portfolio/component/_social_link.html.twig', {'path' :  person.github, 'title' : 'github', 'logo' : 'logo-github'}) }}
        {{ include('portfolio/component/_social_link.html.twig', {'path' :  person.linkedin, 'title' : 'linkedin', 'logo' : 'logo-linkedin'}) }}
        {{ include('portfolio/component/_social_link.html.twig', {'path' :  person.youtube, 'title' : 'youtube', 'logo' : 'logo-youtube'}) }}
    </div>
    <div class="d-flex justify-content-center mt-3">
        <a class="mx-2" href="{{ path('portfolio_contact',{'id' : person.id }) }}">{{ 'contact.contact'|trans }}</a>
        <a class="mx-2" href="{{ path('manager_index') }}">{{ 'dashboard'|trans }}</a>
        <a class="mx-2" href="{{ path('index') }}">{{ 'creator'|trans }}</a>
        <a class="mx-2" href="{{ path('portfolio_projects', { 'id' : person.id }) }}">{{ 'project.projects'|trans }}</a>
    </div>
    <div class="text-center mt-2">{{ include('portfolio/credit/_unsplash.html.twig') }}</div>
</footer>
