<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <img class="rounded-circle" height="200" alt="profile-picture"
                 src="{{ asset('uploads/images/profiles/' ~ person.picture) }}"/>
        </div>
        <div class="col-12">
            <div class="row justify-content-center text-center">
                <div class="col-12 my-3">
                    <p class="h2">{{ person.firstName }} {{ person.lastName }}</p>
                </div>
                <div class="col-11 col-lg-9">
                    <p class="h5">{{ person.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>