<nav class="portfolio-nav navbar navbar-dark navbar-expand-lg gradient sticky-top py-3">
    <div class="container">
        <a class="navbar-brand" href="{{ path('index') }}">DodgeMan.fr</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navbar-portfolio">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-portfolio">
            <ul class="nav navbar-nav mx-auto">
                <li>
                    <a class="nav-link {{ homeP is defined ? 'active' : '' }}"
                       href="{{ path('portfolio_index', {'id' : person.id }) }}">{{ 'home'|trans }}</a>
                </li>
                <li>
                    <a class="nav-link {{ projectsP is defined ? 'active' : '' }}"
                       href="{{ path('portfolio_projects', {'id' : person.id }) }}">{{ 'project.projects'|trans }}</a>
                </li>
                <li>
                    <a class="nav-link {{ cvP is defined ? 'active' : '' }}"
                       href="{{ path('portfolio_cv', {'id' : person.id }) }}">{{ 'cv.cv'|trans }}</a>
                </li>

            </ul>
            <ul class="nav navbar-nav ml-auto">
                {% if app.user %}
                    <li>
                        <a class="nav-link"
                           href="{{ path('app_logout') }}">{{ 'log.out'|trans }}</a>
                    </li>
                    <li>
                        <a class="nav-link"
                           href="{{ path('manager_index') }}">{{ 'dashboard'|trans }}</a>
                    </li>
                {% else %}
                    <li>
                        <a class="nav-link"
                           href="{{ path('app_login') }}">{{ 'log.in'|trans }}</a>
                    </li>
                    <li>
                        <a class="nav-link"
                           href="{{ path('app_register') }}">{{ 'portoflio.create'|trans }}</a>
                    </li>
                {% endif %}

            </ul>
        </div>

    </div>
</nav>