<a href="{{ path }}" class="mx-1" title="{{ title|capitalize }}">
    <div class="social-media-link d-flex align-items-center justify-content-center rounded-circle">
        <ion-icon name="{{ logo }}"></ion-icon>
    </div>
</a>