{% extends 'manager/base/_.html.twig' %}

{% block title %}Manage Portfolio{% endblock %}

{% block header %}<h3>Dashboard portfolio</h3>{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        {% with {'type': 'person' } %} {{ block('_button') }} {% endwith %}
        {% with {'type': 'project' } %} {{ block('_button') }} {% endwith %}
        {% with {'type': 'skill' } %} {{ block('_button') }} {% endwith %}
        {% with {'type': 'link' } %} {{ block('_button') }} {% endwith %}
        {% with {'type': 'experience' } %}{{ block('_button') }} {% endwith %}
    </div>
{% endblock %}

{% block _button %}
    <div class="col-12 col-md-6 my-2 text-center">
        {{ include('manager/button/_.html.twig',{ 'path' : path(type ~ '_index'), 'logo' : 'create', 'label' : ('type.' ~ type)|trans, 'color': 'success'}) }}
    </div>
{% endblock %}
