<button {{ id is defined ? 'id=' ~ id }} class="d-flex align-items-center btn btn-info font-weight-bold shadow"
                                         title="{{ title }}" {{ cursor_disable is defined ? 'style="pointer-events:none;"' : '' }}>
    <ion-icon name="{{ logo }}" style="font-size: 19px !important;"></ion-icon>
    <span class="badge badge-light ml-2">{{ value }}</span>
</button>