{{ include('portfolio/component/button/_.html.twig', {
    id : 'button-star-' ~ id,
    title : is_star == 'true' ? 'unstar this project' : 'star this project',
    logo : is_star == 'true' ? 'star' : 'star-outline'
}) }}

