.zoom-on-hover-slow {
    transition: 1s ease;
}

.zoom-on-hover-medium {
    transition: .5s ease;
}

.zoom-on-hover-fast {
    transition: .2s ease;
}

.btn {
    min-width: 45px;
    min-height: 36px;
}

.btn ion-icon {
    font-size: 19px !important;
    min-width: 19px;
}

@media screen and (min-width: 992px) {
    .zoom-on-hover-slow:hover {
        transform: scale(1.02);
    }

    .zoom-on-hover-medium:hover {
        transform: scale(1.04);
    }

    .zoom-on-hover-fast:hover {
        transform: scale(1.05);
    }

}

