.gradient {
    background: linear-gradient(120deg, #7f70f5, #0ea0ff);
    color: #fff
}

.portfolio-nav {
    -webkit-box-shadow: 0 5px 26px -10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 5px 26px -10px rgba(0, 0, 0, 1);
    box-shadow: 0 5px 26px -10px rgba(0, 0, 0, 1);
}

.portfolio-footer {
    -webkit-box-shadow: 0 -5px 26px -10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 -5px 26px -10px rgba(0, 0, 0, 1);
    box-shadow: 0 -5px 26px -10px rgba(0, 0, 0, 1);
}

.portfolio-footer a {
    color: #222222;
}

.social-media-link {
    height: 40px;
    width: 40px;
}

.social-media-link {
    background-color: #d4d7dd;
}

.social-media-link ion-icon {
    font-size: 20px;
}

@media screen and (min-width: 992px) {
    .social-media-link:hover {
        transition: .1s;

        -webkit-box-shadow: inset 0 0 10px -5px rgba(0, 0, 0, 1);
        -moz-box-shadow: inset 0 0 10px -5px rgba(0, 0, 0, 1);
        box-shadow: inset 0 0 10px -5px rgba(0, 0, 0, 1);
    }
}