.project-item div {
    background-color: black;
    overflow: hidden;
}

.project-item img {
    transition: .8s ease;
}

@media screen and (min-width: 992px) {
    .project-item img:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: .8;
    }
}

.card ion-icon {
    font-size: 32px;
}

.card, .card * {
    border: none;
}
