{% extends 'portfolio/base/_.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div id="content" class="d-flex flex-column shadow border px-5 pb-5 mt-5"
             style="max-width: 400px;min-width: 360px;">
            <h2 class="h3 mb-3 text-center">{{ 'contact.contact'|trans }}</h2>
            {{ form_start(form) }}
            <div class="row justify-content-center">
                <div class="col-11">
                    {{ form_row(form.email) }}
                </div>
                <div class="col-11">
                    {{ form_row(form.description) }}
                </div>
            </div>
            <div class="col-12 d-flex justify-content-around mt-4">
                <button type="submit" class="btn px-4 shadow btn-primary">{{ 'send_message'|trans }}</button>
                <a href="{{ path('index') }}">
                    <button type="button" class="btn px-4 shadow btn-danger">{{ 'cancel'|trans }}</button>
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}