{% extends 'portfolio/base/_.html.twig' %}

{% block title %}CV - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/person-cv.css') }}">
{% endblock %}

{% block body %}
    {{ include("portfolio/component/_header.html.twig") }}
    <hr>
    <div class="container">
        <h2 class="text-center my-4">{{ 'experience.professional'|trans }}</h2>
        {% for experience in workExperiences %}
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column">
                        <span>{{ experience.title }}</span>
                        <div>
                            <span class="badge badge-pill badge-primary">{{ experience.label }}</span>
                        </div>
                    </div>
                    <div>
                        <span>{{ experience.startDate|date('m/Y') }} - {{ experience.endDate is null ? 'present'|trans : experience.endDate|date('m/Y') }}</span>
                    </div>
                </div>
                <p class="text-muted">{{ experience.description }}</p>
            </div>
            <hr>
        {% else %}
            <div class="col-12 text-center">{{ 'experience.no_professional'|trans }}</div>
        {% endfor %}
    </div>
    <div class="container">
        <h2 class="text-center my-4">{{ 'experience.formation'|trans }}</h2>
        {% for education in educationExperiences %}
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column">
                        <span>{{ education.title }}</span>
                        <div>
                            <span class="badge badge-pill badge-success">{{ education.label }}</span>
                        </div>
                    </div>
                    <div>
                        <span>{{ education.startDate|date('m/Y') }} - {{ education.endDate > currentDate ? 'present'|trans : education.endDate|date('m/Y') }}</span>
                    </div>
                </div>
                <p class="text-muted">{{ education.description }}</p>
            </div>
            <hr>
        {% else %}
            <div class="col-12 text-center">{{ 'experience.no_formation'|trans }}</div>
        {% endfor %}
    </div>

    <div class="contact d-flex justify-content-center my-5">
        <div class="border rounded shadow px-5 py-4">
            <a class="text-decoration-none" href="{{ path('portfolio_contact', {'id': person.id}) }}">
                <h2 class="pb-2 text-center">{{ 'contact.me'|trans }}</h2>
            </a>
            {% with {'label': person.firstName ~ ' ' ~ person.lastName, 'logo': 'person-circle', 'id' : 'name' } %}
                {{ block('_item_contact') }}
            {% endwith %}
            {% with {'label': person.birth|date('d/m/Y'), 'logo': 'calendar', 'id' : 'birth' } %}
                {{ block('_item_contact') }}
            {% endwith %}
            {% with {'label': person.email,'href': 'mailto:' ~ person.email, 'logo': 'mail', 'id' : 'email' } %}
                {{ block('_item_contact') }}
            {% endwith %}
            {% with {'label': person.phoneNumber, 'logo': 'call', 'id' : 'phoneNumber' } %}
                {{ block('_item_contact') }}
                <input type="hidden" id="person_phoneNumber" value="{{ person.phoneNumber }}"/>
            {% endwith %}
        </div>
    </div>
{% endblock %}

{% block _item_contact %}
    <div class="d-flex align-items-center">
        <div class="pr-3 py-2">
            <ion-icon name="{{ logo }}"></ion-icon>
        </div>
        {% if href is defined %}
            <div><a id="{{ id }}" href="{{ href }}">{{ label }}</a></div>
        {% else %}
            <div><span id="{{ id }}">{{ label }}</span></div>
        {% endif %}
    </div>
    <hr>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.5.10/cleave.min.js"
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/cleave/phone-type-formater.fr.js') }}"></script>

    <script>
        $(document).ready(function () {
            new Cleave("#person_phoneNumber", {
                phone: true,
                phoneRegionCode: 'FR'
            });

            $("#phoneNumber").first().text($("#person_phoneNumber").val());
        });
    </script>
{% endblock %}
