{% extends 'portfolio/base/_.html.twig' %}

{% block title %}Portfolio - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/person-show.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}
    {{ include("portfolio/component/_header.html.twig") }}
    <div class="container my-5">
        <div class="row no-gutters project-item justify-content-center">
            {% for project in projects %}
                <div class="col-md-6 col-lg-4">
                    <a href="{{ path('portfolio_project', {'project' : project.id, 'person' : person.id}) }}"
                       title="{{ project.name }}">
                        <img class="img-fluid image" alt="project-picture-{{ project.name }}"
                             src="{{ asset('uploads/images/projects/' ~ project.picture) }}">
                    </a>
                </div>
            {% else %}
                <div class="w-100 text-center bg-white">{{ 'project.empty'|trans }}</div>
            {% endfor %}
        </div>
    </div>
    <hr>
    <div class="container mt-5">
        <div class="text-center my-5"><h2>{{ 'skill.special'|trans }}</h2></div>
        <div class="row justify-content-center mb-5">
            {% for skill in skills %}
                <div class="col-9 col-md-6 col-lg-4">
                    <div class="card text-center">
                        <div class="card-header">
                            <ion-icon name="{{ skill.logo }}"></ion-icon>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{ skill.name }}</h3>
                            <p class="card-text">{{ skill.description }}</p>
                        </div>
                    </div>
                </div>
            {% else %}
                {{ 'skill.empty'|trans }}
            {% endfor %}
        </div>
    </div>
    <hr>
    {% for project in highlightedProject %}
        <div class="container border shadow zoom-on-hover-slow my-5 p-5">
            <div class="row justify-content-center">
                <div class="col-11 col-lg-7 text-center text-lg-right mb-3 order-3 order-lg-1">
                    <h3>{{ project.name }}</h3>
                    <span>{{ project.summary }}</span>
                    <div class="row justify-content-center mt-3">
                        <div class="col-12 mb-1"><h4>{{ 'date.date'|trans }}</h4></div>
                        <div class="col-lg-12 col-6 mb-1"><span>{{ project.startDate|date('d-m-Y') }}</span></div>
                        <div class="col-lg-12 col-6 mb-1"><span>{{ project.endDate|date('d-m-Y') }}</span></div>
                    </div>
                </div>
                <div class="col-10 col-lg-4 offset-lg-1 my-3 order-2">
                    <a href="{{ path('portfolio_project',{'person' : person.id, 'project' : project.id}) }}">
                        <img class="img-fluid shadow" alt="project-picture" title="{{ project.name }}"
                             src="{{ asset('uploads/images/projects/'~ project.picture) }}">
                    </a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="w-100 text-center">{{ 'project.empty'|trans }}</div>
    {% endfor %}
{% endblock %}
