{% extends 'portfolio/base/_.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/project-show.css') }}">
{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row align-items-center justify-content-around mb-4 text-center">
            <h2 class="col-12 col-lg-6 order-2 order-lg-l">{{ project.name }}</h2>
            <div class="col-8 col-lg-3 order-1 order-lg-2 mb-4 mb-lg-0">
                <div class="row justify-content-around">
                    <div class="col-6">
                        {{ include('portfolio/component/button/_star.html.twig', {'value' : project.star, 'id': project.id, 'is_star' : is_star}) }}
                    </div>
                    <div class="col-6">
                        {{ include('portfolio/component/button/_view.html.twig', {'value' : views}) }}
                    </div>
                </div>
            </div>

        </div>
        <div><img class="project-picture img-fluid border" alt="project-picture"
                  src="{{ asset('uploads/images/projects/' ~ project.picture) }}">
        </div>
        <div class="row w-100 mt-3">
            <div id="portfolio-project-description" class="col-12 col-md-7 offset-md-1">
                {{ project.description|raw }}
            </div>
            <div class="col-12 col-md-2 text-center text-md-left text-nowrap">
                <div class="d-flex flex-column">
                    <span class="font-weight-bold pt-2 pb-1">{{ 'link.links'|trans }}</span>
                    {% for link in project.links %}
                        <a href="{{ link.urlResource }}">{{ link.label }}</a>
                    {% else %}
                        {{ 'link.empty'|trans }}
                    {% endfor %}
                </div>
                <div class="d-flex flex-column">
                    <span class="font-weight-bold pt-2 pb-1">{{ 'date.date'|trans }}</span>
                    <span>{{ project.startDate|date('d/m/Y') }}</span>
                    <span>{{ project.endDate > currentDate or project.endDate is null ? 'present'|trans : project.endDate|date('d/m/Y') }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
        <h4 class="text-center my-5">{{ 'project.more'|trans }}</h4>
        <div class="row justify-content-center">
            {% for project in moreProjects %}
                <div class="col-9 col-md-6 col-lg-3 my-3 {{ loop.last ? 'd-none d-lg-block' : '' }}">
                    <a href="{{ path('portfolio_project', {'project' : project.id, 'person': person.id }) }}">
                        <img class="img-fluid border rounded zoom-on-hover-medium shadow" alt="profile-picture"
                             title="{{ project.name }}" src="{{ asset('uploads/images/projects/' ~ project.picture) }}">
                    </a>
                </div>
            {% else %}
                <span class="text-center">{{ 'project.no_more'|trans }}</span>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $("#button-star-{{ project.id }}").click(function () {
            $.ajax({
                url: '{{ path('portfolio_project_star',{'id': project.id}) }}',
                method: 'GET',
                datatype: 'json',
                statusCode: {
                    200: function (content) {
                        $("#button-star-{{ project.id }} span").text(content.star);
                        $("#button-star-{{ project.id }}").attr("title", content.title);
                        $("#button-star-{{ project.id }} ion-icon").attr("name", content.logo);
                    }
                }
            });
        });
    </script>
{% endblock %}
