{% extends 'portfolio/base/_.html.twig' %}

{% block title %}Projects - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/project-index.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center my-5">
            <h2>{{ 'project.realisation'|trans }}</h2>
        </div>
        <div class="row">
            {% for project in projects %}
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0">
                        <a href="{{ path('portfolio_project', {'project' : project.id, 'person': person.id}) }}"
                           title="{{ project.name }}">
                            <img class="img-fluid rounded shadow zoom-on-hover-medium" alt="profile-picture"
                                 src="{{ asset('uploads/images/projects/' ~ project.picture) }}">
                        </a>
                        <div class="card-body text-center">
                            <div class="mb-1">

                                <a href="{{ path('portfolio_project', {'project' : project.id, 'person': person.id}) }}"
                                   class=" my-5 project-name"><h6>{{ project.name }}</h6></a>

                            </div>
                            <span class="text-muted card-text summary">{{ project.summary }}</span>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12 text-center">{{ 'project.empty'|trans }}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
