{% if path is defined %}
    <div class="d-inline-block">
        <a href="{{ path }}" title="{{ title|default('action')|capitalize }}" class="d-flex align-items-center {{ button_class is defined ? button_class : '' }} btn btn-{{ color|default('primary') }} {{ disabled|default('false') == 'true' ? 'disabled' : '' }} font-weight-bold shadow {{ label|default('') is not empty ? 'pr-3' : '' }}">
                    <ion-icon {{ logo_id is defined ? 'id=' ~ logo_id : '' }} class="{{ label|default('') is not empty ? 'mr-2' : '' }}" name="{{ logo|default('') }}"></ion-icon>
                    <span class="mx-auto">{{ label|default('')|capitalize }}</span>
        </a>
    </div>
{% else %}
    <button {{ button_id is defined ? 'id=' ~ button_id : '' }} {{ data_dismiss is defined ? 'data-dismiss=' ~ data_dismiss }} {{ button_type is defined ? 'type='~button_type }} title="{{ title|default('action')|capitalize }}" class="d-flex align-items-center {{ button_class is defined ? button_class : '' }} btn btn-{{ color|default('primary') }} {{ disabled|default('false') == 'true' ? 'disabled' : '' }} font-weight-bold shadow {{ label|default('') is not empty ? 'pr-3' : '' }} ">
        <ion-icon {{ logo_id is defined ? 'id=' ~ logo_id : '' }} class="{{ label|default('') is not empty ? 'mr-2' : '' }}" name="{{ logo|default('') }}"></ion-icon>
        <span class="mx-auto">{{ label|default('')|capitalize }}</span>
    </button>
{% endif %}