{% if path is not defined %}
    <form class="{{ ajax is defined ? 'form-delete' : '' }}" method="post"
            {% if ajax is not defined %}
                action="{{ path|default(path(type ~ '_delete', {'id': id|default(-1)})) }}"
                onsubmit="return confirm('Are you sure you want to delete this item?');"
            {% endif %} >
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id|default(-1)) }}">
        {% if ajax is not defined %}
            {{ include('manager/button/_.html.twig',{ 'logo' : 'trash-bin', 'title' : title|default('action.delete.delete'|trans), 'color' : 'danger'}) }}
        {% else %}
            {{ include('manager/button/_.html.twig',{ 'logo' : 'trash-bin', 'title' : 'action.delete.delete'|trans, 'color' : 'danger', 'button_class' : 'button-delete', 'button_id' : type ~ '-' ~ id }) }}
        {% endif %}
    </form>
{% else %}
    {{ include('manager/button/_.html.twig',{ 'logo' : 'trash-bin', 'title' : title|default('action.delete.delete'|trans), 'color' : 'danger'}) }}
{% endif %}