{{ include('manager/button/_.html.twig', {
    'path': path|default(path(type ~ '_edit', {'id': id|default('-1')})),
    'logo' : 'build',
    'title' : title|default('action.edit.edit'|trans),
    'color' : 'primary'
    })
}}