{{ include ('manager/button/_.html.twig', {
    'path' : person_id is defined and project_id is defined ?
    path('portfolio_project', {'person' : person_id, 'project' : project_id}) :
    path('portfolio_index', {'id' : person_id}),
    'color' : 'info',
    'logo' : 'person',
    'title' : 'portfolio'
    })
}}