{{ include('manager/button/_.html.twig',{
    'path': path(type ~ '_show', {'id': id}),
    'logo' : 'stats-chart',
    'label' : '',
    'title' : 'action.show'|trans,
    'color' : 'success'
    })
}}