{% set id = experience.id %}
{% extends 'manager/base/_edit.html.twig' %}

{% block header %}<h3>{{ 'action.edit.entity'|trans({'%type%':experience.title}) }}</h3>{% endblock %}

{% block form %}
    {{ form_start(form) }}
    <div class="row mt-4">
        <div class="col-12 col-md-6">{{ form_row(form.title) }}</div>
        <div class="col-12 col-md-6">{{ form_row(form.label) }}</div>
        <div class="col-12 col-md-9">
            <div class="row align-items-center justify-content-around border rounded p-3 mx-0">
                <div class="d-none d-sm-block col-sm-2"><span>From</span></div>
                <div class="col-5 col-sm-4">{{ form_widget(form.startDate, {'value' : experience.startDate|date('Y/m/d')}) }}</div>
                <div class="col-2 text-center"><span>To</span></div>
                <div class="col-5 col-sm-4">{{ form_widget(form.endDate, {'value' : experience.endDate|date('Y/m/d')}) }}</div>
            </div>
        </div>
        <div class="col-6 col-md-3 offset-6 offset-md-0 d-flex justify-content-end align-items-center mt-3 mt-md-0">
            {{ form_label(form.category) }}
            {{ form_widget(form.category) }}
        </div>
        <div class="col-12 mt-md-3">{{ form_row(form.description) }}</div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.date').datepicker({
                autoclose: true,
                format: 'yyyy/mm/dd',
                orientation: 'bottom',
            }).on('show', function () {
                $('.datepicker').css({
                    'top': $(this).offset().top + 45
                });
            });
        });
    </script>
{% endblock %}