{% extends 'manager/base/_index.html.twig' %}

{% block content %}
    {{ parent() }}
    {% for experience in pagination %}
        <div id="content-{{ type ~ '-' ~ experience.id }}" class="row justify-content-between border {{ loop.first ? 'mt-4' : '' }} p-3">
            <div class="row col-7 col-lg-8 ">
                <div class="col-12"><span class="h6">{{ experience.title }}</span></div>
                <div class="col-12 d-flex justify-content-lg-end">
                    <span>{{ experience.startDate|date('m/Y') }} - {{ experience.endDate is null ? 'Present' : experience.endDate|date('m/Y') }}</span>
                </div>
            </div>
            <div class="col-5 col-md-3 col-lg-2 align-self-center d-flex justify-content-end">
                <div class="col-6">{{ include ('manager/button/_edit.html.twig',{'type': type, 'id' : experience.id}) }}</div>
                <div class="col-6">{{ include('manager/button/_delete.html.twig', {'ajax' : 'true', 'type': type, 'id' : experience.id}) }}</div>
            </div>
            <div class="col-12 text-center text-lg-left">
                <span class="badge badge-pill badge-{{ experience.category == 0 ? 'primary' : 'success' }} mt-3 mb-1">{{ experience.label }}</span>
            </div>
            <div class="col-12"><span class="text-muted">{{ experience.description }}</span></div>
        </div>
        {{ not loop.last ? '<hr>' : '' }}
    {% else %}
        No records found...
    {% endfor %}
{% endblock %}
