{% set id = link.id %}
{% extends 'manager/base/_edit.html.twig' %}

{% block header %}<h3>{{ 'action.edit.entity'|trans({'%type%':link.name }) }}</h3>{% endblock %}

{% block form %}
    {{ form_start(form) }}
    <div class="row mt-4">
        <div class="col-12 col-md-6">{{ form_row(form.name) }}</div>
        <div class="col-12 col-md-6">{{ form_row(form.label) }}</div>
        <div class="col-12">{{ form_row(form.urlResource) }}</div>
    </div>
{% endblock %}
