{% extends 'manager/base/_index.html.twig' %}

{% block content %}
    {{ parent() }}
    <div class="row justify-content-around mt-4">
        <div class="col-12 align-self-end table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                <tr class="text-nowrap">
                    <th scope="col">{{ 'form.name.names'|trans }}</th>
                    <th scope="col">{{ 'link.links'|trans }}</th>
                    <th scope="col">{{ 'manager.action'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for link in pagination %}
                <tr id="content-{{ type ~ '-' ~ link.id }}" class="table-light text-nowrap">
                    <td>{{ link.name }}</td>
                    <td><a href="{{ link.urlResource }}">{{ link.label }}</a></td>
                    <td class="d-flex justify-content-around">
                        <div class="mr-2 mx-lg-auto">
                            {{ include ('manager/button/_edit.html.twig',{'type': type, 'id' : link.id}) }}
                        </div>
                        <div class="mx-auto">
                            {{ include('manager/button/_delete.html.twig', {'ajax' : 'true', 'type': type, 'id' : link.id}) }}
                        </div>
                    </td>
                </tr>
                {% if loop.index % 11 == 0 and not loop.last %}
                </tbody>
                <thead class="thead-light sticky-header">
                <tr class="text-nowrap">
                    <th scope="col">{{ 'form.name.names'|trans }}</th>
                    <th scope="col">{{ 'link.links'|trans }}</th>
                    <th scope="col">{{ 'manager.action'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% endif %}
                {% else %}
                    <tr class="table-light">
                        <td>{{ 'link.empty'|trans }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
