{% extends 'manager/base/_new.html.twig' %}

{% block title %}New {{ type }}{% endblock %}

{% block header %}<h3> Creating a {{ type }}</h3>{% endblock %}

{% block form %}
    {{ form_start(form) }}
    <div class="row mt-4">
        <div class="col-12 col-md-6">{{ form_row(form.name) }}</div>
        <div class="col-12 col-md-6">{{ form_row(form.label) }}</div>
        <div class="col-12">{{ form_row(form.urlResource) }}</div>
    </div>
{% endblock %}
