{% set id = person.id %}
{% extends 'manager/base/_edit.html.twig' %}

{% block header %}<h3>{{ 'action.edit.entity'|trans({'%type%':person.firstName ~ ' ' ~ person.lastName }) }}</h3>{% endblock %}

{% block form %}
    {{ form_start(form) }}
    <div class="row mt-4">
        <div class="col-12 col-lg-9">
            <div class="row">
                <div class="col-6">{{ form_row(form.firstName) }}</div>
                <div class="col-6">{{ form_row(form.lastName) }}</div>
                <div class="col-6">{{ form_row(form.birth, {'value' : person.birth|date('Y/m/d')}) }}</div>
                <div class="col-6">{{ form_row(form.phoneNumber) }}</div>
                <div class="col-12 col-lg-6">{{ form_row(form.email) }}</div>
                <div class="col-12 col-lg-6">{{ form_row(form.password) }}</div>
            </div>
        </div>
        <div class="col-4 col-lg-3 d-flex justify-content-center align-items-center mt-3 mt-lg-0">
            <div>
                <figure class="figure">
                    <img id="profile-picture-img" class="img-fluid shadow rounded border" alt="profile-picture"
                         src="{{ asset('uploads/images/profiles/' ~ person.picture) }}" style="max-height: 240px;">
                </figure>
            </div>
        </div>
        <div class="col-8 col-lg-12 mt-3 mt-lg-3">
            <div class="row align-items-center h-100">
                <div class="col-12 col-lg-6 order-2 order-lg-1">{{ form_row(form.cv) }}</div>
                <div class="col-12 col-lg-5 order-1 order-lg-2 offset-lg-1">{{ form_row(form.picture) }}</div>
            </div>
        </div>
        <div class="col-12">{{ form_row(form.description) }}</div>
        <div class="col-12 col-md-6 col-lg-4">{{ form_row(form.youtube) }}</div>
        <div class="col-12 col-md-6 col-lg-4">{{ form_row(form.linkedin) }}</div>
        <div class="col-12 col-lg-4">{{ form_row(form.github) }}</div>
        <div class="col-12">{{ form_row(form.skills) }}</div>
        <div class="col-12">{{ form_row(form.experiences) }}</div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.5.10/cleave.min.js"
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/cleave/phone-type-formater.fr.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();

            $('.date').datepicker({
                autoclose: true,
                format: 'yyyy/mm/dd',
                orientation: 'bottom',
            }).on('show', function () {
                $('.datepicker').css({
                    'top': $(this).offset().top + 45
                });
            });
            new Cleave('#person_edit_phoneNumber', {
                phone: true,
                phoneRegionCode: 'FR'
            });

            $("#person_edit_cv").change(function (e) {
                $(this).next('.custom-file-label').text(e.target.files[0].name);
            });

            $("#person_edit_picture").change(function (e) {
                $(this).next('.custom-file-label').text(e.target.files[0].name);
                loadFile(e);
            });

            let loadFile = function (event) {
                var image = document.getElementById('profile-picture-img');
                image.src = URL.createObjectURL(event.target.files[0]);
                $("#profile-picture-img").attr("src", image.src);
            };

            $("#person_edit_cv").next('.custom-file-label').text("{{ person.cv is null ? 'CV... (pdf)' : person.cv|slice(0, 12) ~ '...' }}");
            $("#person_edit_picture").next('.custom-file-label').text("{{ person.picture is null ? 'Profile image... (png/jpeg)' : person.picture|slice(0, 12) ~ '...' }}");

        });
    </script>
{% endblock %}