{% extends 'manager/base/_index.html.twig' %}

{% block content %}
    {{ parent() }}
    {% for person in pagination %}
        <div class="row justify-content-center border {{ loop.first ? 'mt-4' : '' }} p-3">
            <div class="col-7 col-sm-6 col-lg-3 align-self-center text-center">
                <img class="img-fluid rounded border shadow" alt="profile-picture"
                     src="{{ asset('uploads/images/profiles/' ~ person.picture) }}">
            </div>
            <div class="col-12 col-lg-9">
                <div class="row justify-content-between text-center h-100">
                    <div class="col-12 col-lg-6 align-self-center my-3 my-lg-0">
                        <span class="font-weight-bold h4 text-center text-lg-left">{{ person.firstName }} {{ person.lastName }}</span>
                    </div>
                    <div class="col-10 col-md-8 col-lg-5 mb-2 mx-auto">
                        <div class="row justify-content-center justify-content-md-around">
                            <div class="col-3">{{ include ('manager/button/_.html.twig', {'path' : path('portfolio_index', {'id' : person.id}), 'color' : 'info', 'logo' : 'person', 'label' : '','title' : 'portfolio' }) }}</div>
                            <div class="col-3">{{ include ('manager/button/_show.html.twig', {'type': type, 'id' : person.id}) }}</div>
                            {% if person == app.user %}
                                <div class="col-3">{{ include ('manager/button/_edit.html.twig',{'type': type, 'id' : person.id}) }}</div>
                                <div class="col-3">{{ include('manager/button/_delete.html.twig', {'type': type, 'id' : person.id}) }}</div>
                            {% else %}
                                <div class="col-3 d-none d-md-block">{{ include ('manager/button/_edit.html.twig',{'path' : '#', 'title': 'cannot edit, this is not your account', 'disabled' : 'true'}) }}</div>
                                <div class="col-3 d-none d-md-block">{{ include('manager/button/_delete.html.twig', {'path' : '#','title': 'cannot delete, this is not your account', 'disabled' : 'true'}) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 p-2 text-center text-lg-left"><p>{{ person.description|default('No description...') }}</p></div>
                    <div class="col-12 align-self-end table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-light">
                            <tr class="text-nowrap">
                                <th scope="col">Email</th>
                                <th scope="col">{{ 'form.phone_number'|trans }}</th>
                                <th scope="col">{{ 'form.birth'|trans }}</th>
                                <th scope="col">{{ 'social_media'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="table-light">
                                <td style="overflow-wrap: break-word; max-width: 310px;">{{ person.email }}</td>
                                <td class="text-nowrap">
                                    <input type="hidden" class="person_phoneNumber" value="{{ person.phoneNumber }}"/>
                                </td>
                                <td>{{ person.birth|date('d/m/Y') }}</td>
                                <td>
                                    <a href="{{ person.youtube }}">Youtube</a>,
                                    <a href="{{ person.github }}">Github</a>,
                                    <a href="{{ person.linkedin }}">Linkedin</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {{ not loop.last ? '<hr>' : '' }}
    {% else %}
        {{ 'person.empty'|trans }}
    {% endfor %}

{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.5.10/cleave.min.js"
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/cleave/phone-type-formater.fr.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.person_phoneNumber').toArray().forEach(function (field) {
                new Cleave(field, {
                    phone: true,
                    phoneRegionCode: 'FR'
                });
                $(field.closest("td")).first().text(field.value);
            });
        });
    </script>
{% endblock %}
