{% set id = person.id %}
{% extends 'manager/base/_show.html.twig' %}

{% block title %}{{ person.firstName }} {{ person.lastName }}{% endblock %}

{% block header %}
    {{ parent() }}
    <div class="col order-1">{{ include ('manager/button/_portfolio.html.twig', {'label' : 'portfolio','person_id' : person.id }) }}</div>
{% endblock %}
{% block content %}


    <div class="row border my-4 p-3">
        <div class="col-3 align-self-center">
            <img class="img-fluid rounded shadow border" alt="Profile picture"
                 src="{{ asset('uploads/images/profiles/' ~ person.picture) }}"/>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-12"><h3>{{ person.firstName }} {{ person.lastName }}</h3></div>
                <div class="col-12 p-2"><p>{{ person.description|default('No description...') }}</p></div>
                <div class="col-12 align-self-end table-responsive-xl">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                        <tr class="text-nowrap">
                            <th scope="col">Email</th>
                            <th scope="col">{{ 'form.phone_number'|trans }}</th>
                            <th scope="col">{{ 'form.birth'|trans }}</th>
                            <th scope="col">{{ 'social_media'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="table-light">
                            <td style="overflow-wrap: break-word; max-width: 310px;">{{ person.email }}</td>
                            <td class="text-nowrap">
                                <span id="phoneNumber">{{ person.phoneNumber }}</span>
                                <input type="hidden" id="person_phoneNumber" value="{{ person.phoneNumber }}"/>
                            </td>
                            <td>{{ person.birth|date('d/m/Y') }}</td>
                            <td>
                                <a href="{{ person.youtube }}">Youtube</a>,
                                <a href="{{ person.github }}">Github</a>,
                                <a href="{{ person.linkedin }}">Linkedin</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% if formChangePassword is not null %}
        {{ form_start(formChangePassword) }}
        <button id="button-change-password-show" type="button" class="btn btn-primary font-weight-bold"
                data-toggle="modal"
                data-target="#modal-change-password">{{ 'form.password.change'|trans }}</button>

        <div class="modal fade" id="modal-change-password" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mx-auto">{{ 'form.password.change'|trans }}</h5>
                    </div>
                    <div class="modal-body">
                        <div id="content-password-edit" class="alert mb-2" role="alert">
                            <span></span>
                        </div>
                        <div class="row align-items-center justify-content-around">
                            <div class="col-12">
                                {{ form_row(formChangePassword.currentPassword) }}
                            </div>
                            {% for password in formChangePassword.newPassword %}
                                <div class="col-12">
                                    {{ form_row(password) }}
                                </div>
                            {% endfor %}

                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="col-6 d-flex justify-content-center">
                            {{ include('manager/button/_.html.twig',{ 'button_type' : 'button','data_dismiss': 'modal', 'logo' : 'close-circle', 'label' : 'action.close'|trans, 'color': 'danger'}) }}
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            {{ include('manager/button/_.html.twig',{ 'button_type' : 'submit', 'logo' : 'save', 'label' : 'action.save.changes'|trans, 'color': 'success','button_id' : 'button-change-password'}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(formChangePassword) }}
    {% endif %}
    {% if person.nbProjectsCreatedAndFollowed > 0 %}
        <div class="text-center">
            <h1>All times views of followed projects : {{ totalViewsProjectsFollowed }}</h1>
            <h1>All times views of created projects : {{ totalViewsProjectsCreated }}</h1>
            <h1>All times views of all projects : {{ totalViewsProjectsAll }}</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    {% else %}
        <div class="text-center">No created and followed projects...</div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.5.10/cleave.min.js"
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/cleave/phone-type-formater.fr.js') }}"></script>
    <script>
        new Cleave($('#person_phoneNumber'), {
            phone: true,
            phoneRegionCode: 'FR'
        });

        $('#phoneNumber').text($('#person_phoneNumber').val());
        {% if formChangePassword is not null %}
        $(`#content-password-edit`).hide();

        let loading = `{{ include('manager/loading/_circle.html.twig') }}`
        let cooldown = 1500;
        let delay = 800;
        let requestDone = true;
        let cooldownReady = true;
        let resultPassword = $(`#content-password-edit`);
        let currentColor = '';
        $(document).ready(function () {
            $('#button-change-password-show').click(function () {
                setTimeout(function () {
                    $('#change_password_currentPassword').focus();
                }, 50)
            })

            $('#button-change-password').click(function (event) {
                event.preventDefault();
                if (cooldownReady && requestDone)
                    $.ajax({
                        url: '{{ path('person_edit_password',{'id' : person.id }) }}',
                        method: 'POST',
                        datatype: 'json',
                        beforeSend: function () {
                            resultPassword.fadeOut(200)
                            cooldownReady = false;
                            requestDone = false;
                            setTimeout(function () {
                                cooldownReady = true;
                            }, cooldown);
                            $("#button-change-password ion-icon:first").hide(300, function () {
                                $("#button-change-password").prepend(loading)
                            })
                        },
                        data: {
                            'currentPassword': $('#change_password_currentPassword').val(),
                            'newPassword_first': $('#change_password_newPassword_first').val(),
                            'newPassword_second': $('#change_password_newPassword_second').val(),
                            '_token': $("#change_password__token").val(),
                        },
                        statusCode: {
                            200: function (content) {
                                setTimeout(function () {
                                    displayMessage('alert-success', content.message)
                                }, delay)
                            },
                            400: function (content) {
                                setTimeout(function () {
                                    displayMessage('alert-danger', content.responseJSON.message)
                                }, delay);
                            },
                            403: function (content) {
                                setTimeout(function () {
                                    displayMessage('alert-warning', content.responseJSON.message)
                                }, delay);
                            }
                        }
                    }).always(function () {
                        requestDone = true;
                    });

                function displayMessage(color, message) {
                    resultPassword.removeClass(currentColor)
                    currentColor = color;
                    resultPassword.addClass(color)
                    $("#content-password-edit").fadeIn(300).find('span:first').text(message);
                    $("#button-change-password svg:first").hide(200, function () {
                        $("#button-change-password ion-icon:first").show()
                        $(this).remove()
                    })
                }
            });

            $("#button-close-password-edit").click(function () {
                resultPassword.fadeOut();
            });
        });
        {% endif %}
    </script>
    <script>
        let ctx = document.getElementById('myChart').getContext('2d');

        function getRandomInt(max) {
            return Math.floor(Math.random() * Math.floor(max));
        }

        function getRandomColor() {
            let letters = '0123456789ABCDEF';
            let color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        let config = {
            type: 'bar',
            data: {
                labels: [{% for statistics in statisticsProjectsCreated|first %}'{{ statistics.date|date('m/Y') }}',{% endfor %}],
                datasets: [
                        {% for statistics in statisticsProjectsCreated %}{
                        label: "{{ statistics[0].project.name }}",
                        backgroundColor: `rgba(${getRandomInt(255)}, ${getRandomInt(255)}, ${getRandomInt(255)}, 0.7)`,
                        borderColor: `rgba(${getRandomInt(255)}, ${getRandomInt(255)}, ${getRandomInt(255)}, 0.7)`,
                        data: [{% for statistic in statistics %}'{{ statistic.value }}',{% endfor %}],
                        fill: false,
                    },{% endfor %}],
            },
            options: {
                elements: {
                    line: {
                        tension: 0.4
                    },
                },
                responsive: true,
                title: {
                    display: true,
                    text: 'Views of created projects'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: false,
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Views'
                        }, ticks: {
                            min: 0,
                        }
                    }]
                }
            }
        };

        new Chart(ctx, config)
    </script>

{% endblock %}