{% set id = skill.id %}
{% extends 'manager/base/_edit.html.twig' %}

{% block header %}<h3>{{ 'action.edit.entity'|trans({'%type%':skill.name}) }}</h3>{% endblock %}

{% block form %}
    {{ form_start(form) }}
    <div class="row mt-4">
        <div class="col-12 col-md-6">{{ form_row(form.name) }}</div>
        <div class="col-7 col-md-5">
            {{ form_label(form.logo) }}
            {{ form_widget(form.logo) }}
            <div class="d-flex justify-content-end">
                <a target="_blank" href="https://ionicons.com/" class="text-muted"><small>All logos here !</small></a>
            </div>
        </div>
        <div class="col-1 offset-2 offset-md-0 d-flex justify-content-center align-items-center">
            <div class="border shadow rounded p-3">
                <ion-icon id="logo" size="large" name="{{ skill.logo }}"></ion-icon>
            </div>
        </div>
        <div class="col-12">{{ form_row(form.description) }}</div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        function delay(callback, ms) {
            var timer = 0;
            return function () {
                var context = this, args = arguments;
                clearTimeout(timer);
                timer = setTimeout(function () {
                    callback.apply(context, args);
                }, ms || 0);
            };
        }

        $("#skill_logo").keyup(delay(function (event) {
            $("#logo").attr("name", $("#skill_logo").val())
        }, 1200));
    </script>
{% endblock %}