{% extends 'manager/base/_index.html.twig' %}

{% block content %}
    {{ parent() }}
    <div class="row justify-content-center mt-3">
        {% for skill in pagination %}
            <div id="content-{{ type ~ '-' ~ skill.id }}" class="col-11 col-sm-10 col-md-7 col-lg-4 border m-3 shadow">
                <div class="row h-100 py-4 justify-content-center">
                    <div class="col-12 d-flex justify-content-center">
                        <ion-icon size="large" name="{{ skill.logo }}"></ion-icon>
                    </div>
                    <div class="col-11 my-2 d-flex justify-content-center text-center"><h4>{{ skill.name }}</h4></div>
                    <div class="col-11 text-center text-muted"><span>{{ skill.description }}</span></div>
                    <div class="col-12 align-self-end mt-4">
                        <div class="row justify-content-center">
                            <div class="col-5 d-flex justify-content-center">{{ include ('manager/button/_edit.html.twig',{'type': type, 'id' : skill.id}) }}</div>
                            <div class="col-5 d-flex justify-content-center">{{ include('manager/button/_delete.html.twig', {'ajax' : 'true', 'type': type, 'id' : skill.id}) }}</div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            {{ 'skill.empty'|trans }}
        {% endfor %}
    </div>
{% endblock %}


