{% extends 'base.html.twig' %}

{% block title %}{{ person.firstName }} {{ person.lastName }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/base-portfolio.css') }}">
{% endblock %}

{% block navbar %}{% include 'portfolio/component/_navbar.html.twig' %}{% endblock %}

{% block body %}
    {% for flash in app.flashes('success') %}
        <div class=" container alert alert-success alert-dismissible fade show mt-3" role="alert">
            {{ flash }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endblock %}

{% block footer %}{% include 'portfolio/component/_footer.html.twig' %}{% endblock %}