{% extends 'manager/base/_index.html.twig' %}
{% block stylesheets %}
    <style>
        .purple {
            background-color: purple;
            border-color: purple;
        }

        .purple:hover {
            background-color: #6d006d;
            border-color: #6d006d;
        }

        .purple:active {
            background-color: #630163 !important;
            border-color: #630163 !important;
        }
    </style>
{% endblock %}
{% block content %}
    {{ parent() }}
    {% for project in pagination %}
        {% set is_creator = app.user == project.createdBy %}
        <div id="content-{{ type ~ '-' ~ project.id }}"
             class="row justify-content-center border {{ loop.first ? 'mt-4' : '' }} p-3">
            <div class="col-10 col-md-8 col-lg-4 align-self-center text-center">
                <img class="img-fluid rounded border shadow" alt="profile-picture"
                     src="{{ asset('uploads/images/projects/' ~ project.picture) }}">
            </div>
            <div class="col-12 col-lg-8">
                <div class="row h-100">
                    <div class="col-12 col-lg-1 text-center align-self-center mt-3 my-lg-0">
                        <ion-icon class="" title="{{ is_creator ? 'project.owner'|trans : 'project.follower'|trans }}"
                                  style="font-size: 25px; color: {{ is_creator ? '#007c00' : 'teal' }};"
                                  name="{{ is_creator ? 'ribbon' : 'people' }}"></ion-icon>
                    </div>
                    <div class="col-12 col-lg-5 col-xl-6  d-flex align-items-center justify-content-center justify-content-lg-start">
                        <span class="font-weight-bold h5 text-center text-lg-left">{{ project.name }}</span>
                    </div>
                    <div class="col-12 col-md-7 col-lg-6 col-xl-5 mb-2 mx-auto">
                        <div class="row justify-content-center justify-content-md-around">
                            <div class="col-2 px-0">{{ include ('manager/button/_.html.twig', {'logo' : app.user.visibleProjects.contains(project) ? 'earth' : 'eye-off' ,'button_class' : 'purple button-project-visible','logo_id': 'icon-visible-' ~ project.id, 'button_id' : 'button-project-visible-' ~ project.id }) }}</div>
                            <div class="col-2 px-0">{{ include ('manager/button/_portfolio.html.twig', {'person_id' : project.createdBy.id,'project_id' : project.id }) }}</div>
                            <div class="col-2 px-0">{{ include ('manager/button/_show.html.twig', {'type': type, 'id' : project.id}) }}</div>
                            {% if is_creator %}
                                <div class="col-2 px-0">{{ include ('manager/button/_edit.html.twig',{'type': type, 'id' : project.id}) }}</div>
                                <div class="col-2 px-0 offset-md-1 ml-lg-3">{{ include('manager/button/_delete.html.twig', {'ajax' : 'true', 'type': type, 'id' : project.id}) }}</div>
                            {% else %}
                                <div class="col-2 px-0 d-none d-md-block">{{ include ('manager/button/_edit.html.twig',{'path' : '#', 'title': 'cannot edit, you\'re not the project owner', 'disabled' : 'true'}) }}</div>
                                <div class="col-2 px-0 d-none d-md-block">{{ include('manager/button/_delete.html.twig', {'path' : '#','title': 'cannot delete, you\'re not the project owner', 'disabled' : 'true'}) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 text-center text-lg-left mt-2"><p>{{ project.summary }}</p></div>
                    <div class="col-12 align-self-end table-responsive">
                        <table class="table table-bordered" style="min-width: 500px;">
                            <thead class="thead-light">
                            <tr class="text-nowrap">
                                <th scope="col">{{ 'date.start'|trans }}</th>
                                <th scope="col">{{ 'date.end.end'|trans }}</th>
                                <th scope="col">{{ 'link.links'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="table-light">
                                <td>{{ project.startDate|date('d/m/Y') }}</td>
                                <td>{{ project.endDate is null ? 'present'|trans : project.endDate|date('d/m/Y') }}</td>
                                <td style="overflow-wrap: break-word; max-width: 150px;">
                                    {% for link in project.links %}
                                        <a
                                        href="{{ link.urlResource }}">{{ link.label }}</a>{% if not loop.last %}, {% endif %}
                                    {% else %}
                                        {{ 'link.empty'|trans }}
                                    {% endfor %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {{ not loop.last ? '<hr>' : '' }}
    {% else %}
        {{ 'project.empty'|trans }}
    {% endfor %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(".button-project-visible").click(function () {
            let projectId = $(this).attr('id').split('-').pop();
            let url = '{{ path('project_visible', {'person' : app.user.id, 'id': -1 }) }}';
            $.ajax({
                url: url.replace('-1', projectId),
                method: 'GET',
                datatype: 'json',
                statusCode: {
                    200: function (content) {
                        console.log(content)
                        $(`#icon-visible-${content.project}`).attr('name', content.logo);
                    }
                }
            });
        })
    </script>
{% endblock %}