{% set type = 'project' %}
{% extends 'manager/base/_new.html.twig' %}

{% block header %}<h3>Creating a {{ type }}</h3>{% endblock %}

{% block form %}
    {{ form_start(form) }}
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-lg-8">
            <div class="row">
                <div class="col-12">{{ form_row(form.name) }}</div>
                <div class="col-12">{{ form_row(form.summary) }}</div>
            </div>
        </div>
        <div class="col-9 col-md-7  col-lg-4 align-self-center text-center">
            <img id="project-picture-img" style="max-height: 218px;" class="img-fluid shadow rounded border"
                 alt="project-picture"
                 src="{{ asset('uploads/images/projects/' ~ project.picture) }}">
        </div>
        <div class="w-100 my-2"></div>
        <div class="col-12">
            <div class="row justify-content-between mx-0">
                <div class="col col-lg-8 row justify-content-around align-items-center border rounded mx-0 p-2 order-2 order-lg-1">
                    <div class="col-sm-2 d-none d-sm-block"><span>From</span></div>
                    <div class="col-5 col-sm-4">{{ form_widget(form.startDate, {'value' : project.startDate|date('Y/m/d')}) }}</div>
                    <div class="col-2 text-center"><span>To</span></div>
                    <div class="col-5 col-sm-4">{{ form_widget(form.endDate, {'value' : project.endDate|date('Y/m/d')}) }}</div>
                </div>
                <div class="col-12 col-lg-4 d-flex flex-column justify-content-center align-items-center my-3 my-lg-0 order-1 order-lg-2">
                    {{ form_widget(form.picture) }}
                    {{ form_errors(form.picture) }}
                </div>
            </div>
        </div>
        <div class="col-12 mt-1">{{ form_row(form.links) }}</div>
        <div class="col-12">{{ form_widget(form.description) }}</div>
        <div class="col-12 ">
            <div class="my-2">{{ form_label(form.description) }}</div>
            <textarea id="description" style="min-height: 450px;">{{ 'form.description.info'|trans }}</textarea>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.tiny.cloud/1/tmk3arbf6adhq1yifqex1liqcwkceamvl36z1dzzrjqsauwy/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script>

        tinymce.init({
            selector: '#description',
            statusbar: false,
            setup: function (editor) {
                editor.on('change', function () {
                    editor.save();
                });
            }
        });

        $('form').submit(function () {
            $('#project_description').text($("#description").val());
        });

        let loadFile = function (event) {
            var image = document.getElementById('project_picture');
            image.src = URL.createObjectURL(event.target.files[0]);
            $("#project-picture-img").attr("src", image.src);
        };


        $('.js-example-basic-single').select2();

        $('.date').datepicker({
            autoclose: true,
            format: 'yyyy/mm/dd',
            orientation: 'bottom',
        }).on('show', function () {
            $('.datepicker').css({
                'top': $(this).offset().top + 45
            });
        });
        $("input[type=file]").change(function (e) {
            $(this).next('.custom-file-label').text(e.target.files[0].name);
            loadFile(e);
        });
    </script>
{% endblock %}
