{% set id = project.id %}
{% extends 'manager/base/_show.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/project-show.css') }}">
    <style>
        .purple {
            background-color: purple;
            border-color: purple;
        }

        .purple:hover {
            background-color: #6d006d;
            border-color: #6d006d;
        }

        .purple:active {
            background-color: #630163 !important;
            border-color: #630163 !important;
        }
    </style>
{% endblock %}
{% block header %}
    {{ parent() }}
    <div class="col order-1 text-center">{{ include ('manager/button/_portfolio.html.twig', {'person_id' : project.createdBy.id, 'project_id' : project.id, 'label' : 'portfolio'}) }}</div>
{% endblock %}

{% block content %}
    <div class="row border my-4 p-3">
        <div class="col-4 align-self-center text-center">
            <img class="img-fluid rounded shadow border" alt="project-picture"
                 src="{{ asset('uploads/images/projects/' ~ project.picture ) }}"/>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-10"><span class="h5 font-weight-bold">{{ project.name }}</span></div>
                <div class="col-2 d-flex justify-content-end">
                    <div>
                        {{ include ('manager/button/_.html.twig', {'logo' : app.user.visibleProjects.contains(project) ? 'earth' : 'eye-off' ,'button_class' : 'purple button-project-visible','logo_id': 'icon-visible-' ~ project.id, 'button_id' : 'button-project-visible-' ~ project.id }) }}
                    </div>
                </div>
                <div class="col-11 mt-2"><p>{{ project.summary }}</p></div>
                <div class="col-12 align-self-end table-responsive-xl">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">{{ 'date.start'|trans }}</th>
                            <th scope="col">{{ 'date.end.end'|trans }}</th>
                            <th scope="col">{{ 'link.links'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="table-light">
                            <td>{{ project.startDate|date('d/m/Y') }}</td>
                            <td>{{ project.endDate is null ? 'present'|trans : project.endDate|date('d/m/Y') }}</td>
                            <td>
                                {% for link in project.links %}
                                    <a
                                    href="{{ link.urlResource }}">{{ link.label }}</a>{% if not loop.last %}, {% endif %}
                                {% else %}
                                    {{ 'link.empty'|trans }}
                                {% endfor %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="border p-4" style="margin: 0 -15px;">{{ project.description|raw }}</div>
    <div class="row justify-content-center">
        <div class="col-12">
            <canvas id="myChart"></canvas>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');

        function getRandomInt(max) {
            return Math.floor(Math.random() * Math.floor(max));
        }

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        function getArrayInc(size) {
            let array = [];
            for (let i = 0; i < size; i++) {
                array.push(i)
            }
            return array;
        }

        var config = {
            type: 'line',
            data: {
                labels: [
                    {% for statistic in statistics %}
                    '{{ statistic.date|date('m/Y') }}',
                    {% endfor %}
                ],
                datasets: [
                    {
                        label: "{{ project.name }}",
                        backgroundColor: `rgba(${getRandomInt(255)}, ${getRandomInt(255)}, ${getRandomInt(255)}, 0.7)`,
                        borderColor: `rgba(${getRandomInt(255)}, ${getRandomInt(255)}, ${getRandomInt(255)}, 0.7)`,
                        data: [
                            {% for statistic in statistics %}
                            '{{ statistic.value }}',
                            {% endfor %}
                        ],
                        fill: false,
                    },
                ],

            },
            options: {
                elements: {
                    line: {
                        tension: 0.4
                    },
                },
                responsive: true,
                title: {
                    display: true,
                    text: 'Project Views'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Views'
                        },
                        ticks: {
                            /*max: 1000,
                            min: 0,
                            stepSize: 100*/
                        }
                    }]
                }
            }
        };

        new Chart(ctx, config)
    </script>
{% endblock %}