<svg class="mr-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="min-width:19px;background: transparent; shape-rendering: auto;" width="19px" height="21px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
    <circle cx="50" cy="50" fill="none" stroke="#ffffff" stroke-width="20" r="39" stroke-dasharray="184 63" transform="rotate(27 50 50)">
        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1.1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
    </circle>
</svg>