{% extends 'base.html.twig' %}
{% block body %}
    <div class="container border shadow my-5 p-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="background: transparent !important;">
                        <li class="breadcrumb-item {{ type is not defined ? 'active" aria-current="page' : '' }}">
                            {% if type is defined %}
                                <a class="bg-light rounded px-2 py-1" style="text-decoration: none;" href="{{ path('manager_index') }}">{{ 'dashboard'|trans }}</a>
                            {% endif %}
                        </li>
                        {% if type is defined %}
                            <li class="breadcrumb-item {{ action is not defined ? 'active" aria-current="page' : '' }}">
                                {% if action is defined %}
                                    <a class="bg-light rounded px-2 py-1" style="text-decoration: none;" href="{{ path(type|default('manage') ~ '_index') }}">
                                        {{ ('type.' ~ type)|trans|default('entity')|capitalize }}
                                    </a>
                                {% else %}
                                    <span>{{ ('type.' ~ type)|trans|default('entity')|capitalize }}</span>
                                {% endif %}
                            </li>
                        {% endif %}
                        {% if action is defined %}
                            <li class="breadcrumb-item active" aria-current="page">
                                <span>{{ action|default('action')|capitalize }}</span>
                            </li>
                        {% endif %}
                    </ol>
                </nav>
            </div>
            <div class="col-md-7 col-lg-6">
                <div class="row justify-content-around">
                    {% block header %}{% endblock %}
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
{% endblock %}