{% extends 'manager/base/_.html.twig' %}

{% block title %}{{ 'action.edit.entity'|trans({'%type%' : type|capitalize}) }}{% endblock %}

{% block content %}
    {% block form %}{% endblock %}
    <div class="row mt-3">
        <div class="col d-flex justify-content-center order-1">
            {{ include('manager/button/_.html.twig',{ 'logo' : 'save', 'label' : 'action.save.changes'|trans, 'color': 'success'}) }}
        </div>
        {{ form_end(form) }}
        <div class="col d-flex justify-content-center order-2">
            {{ include('manager/button/_delete.html.twig', {'type': type, 'id' : id, 'label' : 'action.delete.delete'|trans}) }}
        </div>
    </div>
{% endblock %}

