{% extends 'manager/base/_.html.twig' %}

{% block title %}{{ type|capitalize }} index{% endblock %}

{% block header %}
    <div>{{ include('manager/button/_.html.twig',{'logo' : 'lock-closed', 'label' : 'action.delete.safe.message'|trans, 'color':'primary','button_class' : 'button-safe-delete', 'title' : 'action.delete.safe.info'|trans }) }}</div>
    <div>{{ include('manager/button/_new.html.twig', { 'type' : type}) }}</div>
{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center mt-4 mt-lg-0">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
    <script>
        var safeDelete = true;

        $(".form-delete").submit(function (event) {
            event.preventDefault();
            if (safeDelete) if (!confirm("Are you sure ?")) return
            $.ajax({
                url: 'ajax/' + $(this).find('.button-delete').attr("id").substr({{ type|length + 1 }}),
                method: 'DELETE',
                datatype: 'json',
                data: {
                    '_method': $(this).find('input:first').val(),
                    '_token': $(this).find('input:last').val(),
                },
                statusCode: {
                    200: function (content) {
                        $(`#content-{{ type }}-${content.id}`).fadeOut("medium");
                    },
                    400: function (content) {
                        console.log(content.responseJSON)
                    }
                }
            });
        });

        $(".button-safe-delete").click(function () {
            let button = $(this);
            let icon = button.find("ion-icon");
            let logo = "lock-closed";
            safeDelete = true;
            if (icon.attr("name") === "lock-closed") {
                logo = "lock-open";
                safeDelete = false;
                button.switchClass("btn-primary", "btn-danger");
                button.attr("title", '{{ 'action.delete.instant.info'|trans }}');
                button.find("span").text('{{ 'action.delete.instant.message'|trans }}');
            } else {
                button.switchClass("btn-danger", "btn-primary");
                button.attr("title", '{{ 'action.delete.safe.info'|trans }}');
                button.find("span").text('{{ 'action.delete.safe.message'|trans }}');
            }
            icon.attr("name", logo);
        });
    </script>
{% endblock %}
