{% extends 'manager/base/_.html.twig' %}

{% block title %}{{ 'action.new.new'|trans }} {{ type|capitalize }}{% endblock %}

{% block content %}
    {% block form %}{% endblock %}
    <div class="row mt-3">
        <div class="col d-flex justify-content-center">
            {{ include('manager/button/_.html.twig',{'logo' : 'save', 'label' : 'action.new.entity'|trans({'%type%' : type}), 'color': 'success'}) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

