{% extends 'manager/base/_.html.twig' %}

{% block header %}
    <div class="col order-4 text-center">{{ include('manager/button/_edit.html.twig', { 'type' : type, 'label' : 'edit', 'id' : id}) }}</div>
    <div class="col order-8 text-center">{{ include('manager/button/_delete.html.twig', { 'type' : type, 'label' : 'delete', 'id' : id}) }}</div>
{% endblock %}

{% block content %}
{% endblock %}

